{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/explicit-member-accessibility": [
            "error"
        ],
        "prefer-arrow-callback": "error",
        "prefer-destructuring": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "no-unused-vars": "error",
        "curly": "error",
        "no-extra-semi": "error",
        "no-shadow": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "quotes": ["error", "single"],
        "spaced-comment": ["error", "always"],
        "react/jsx-wrap-multilines": "warn",
        "react/no-unused-prop-types" : "warn",
        "semi": [
            2,
            "always"
        ]
    }
}