.Home {	
	& > * input {
		-webkit-app-region: no-drag;
		outline: none;
	}

	&-Header {
		display: flex;
		align-items: center;
		background-color: #222;
		padding: 10px 20px;
		color: white;
	}

	&-FileInput {
		font-size: 12px;
		cursor: pointer;

		&_error {
			color: red;
		}
	}

	&-ImageContainer {
		overflow: hidden;
	}

	&-Image {
		user-select: none;
		background-size: contain;
		background-repeat: no-repeat;

		&_flashing {
			animation: flashingAnimation 0.8s infinite;
		}

		&_grayscale {
			filter: grayscale(100%);
		}
	}

	&-ErrorText {
		color: red;
	}

	&-RangeSection {
		margin-left: 20px;

		&-Label {
			user-select: none;
			font-size: 12px;
		}

		&-Container {
			display: flex;
			align-items: center;
			font-size: 12px;
		}
	}

	&-CheckBoxSection {
		margin-left: 20px;
		display: flex;
		
		&-Input {
			cursor: pointer;
			margin-right: 5px;
		}

		&-Label {
			cursor: pointer;
			user-select: none;
			font-size: 12px;
		}
	}

	&-ScaleSection {
		margin-left: 20px;

		&-Title {
			user-select: none;
			text-align: center;
			font-size: 12px;
			margin-bottom: 4px;
			display: block;
		}

		&-Button {
			margin-right: 5px;
			padding: 2px 6px;
			font-size: 10px;
			cursor: pointer;
			border: none;
			border-radius: 3px;
			outline: none;

			&_active {
				background-color: #0075ff;
			}
		}
	}
}

@keyframes flashingAnimation {
	0% {
		opacity: attr(data-opacity);
	}
	100% {
		opacity: 0;
	}
}