.Home {

	&-Header {
		display: flex;
		align-items: center;
		background-color: #222;
		padding: 10px 20px;
		color: white;
	}

	&-FileInput {
		font-size: 12px;
		cursor: pointer;

		&_error {
			color: red;
		}
	}

	&-ImageContainer {
		overflow: hidden;
		cursor: move;
	}

	&-Image {
		background-size: contain;
		background-repeat: no-repeat;

		&_flashing {
			animation: flashingAnimation 0.8s infinite;
		}

		&_grayscale {
			filter: grayscale(100%);
		}
	}

	&-ErrorText {
		color: red;
	}

	&-CloseButton {
		margin-left: 20px;
		line-height: 16px;
	}

	&-Section {
		margin-left: 20px;
	}

	&-ScaleSection {
		margin-left: 20px;

		&-Title {
			text-align: center;
			font-size: 12px;
			margin-bottom: 4px;
			display: block;
		}

		&-Button {
			margin-right: 5px;
		}
	}
}

@keyframes flashingAnimation {
	0% {
		opacity: attr(data-opacity);
	}
	100% {
		opacity: 0;
	}
}