@import '../theme/scss/variables.scss';

.Home {
	background-color: $backgroundColor;
	height: 54px;

	&-Header {
		display: flex;
		align-items: center;
		padding: 10px 20px;
		color: white;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		justify-content: space-between;
		max-width: 700px;
		min-width: 700px;
		width: 700px;
	}

	&-ImageContainer {
		overflow: hidden;
		cursor: move;
	}

	&-Image {
		background-size: contain;
		background-repeat: no-repeat;

		&_flashing {
			animation: flashingAnimation 1s linear infinite alternate;  
		}

		&_grayscale {
			filter: grayscale(100%);
		}
	}

	&-ErrorText {
		color: red;
	}

	&-ScaleSection {

		&-Title {
			text-align: center;
			margin-bottom: 5px;
			display: block;
		}

		&-Button {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@keyframes flashingAnimation {
	to { 
		opacity: 0; 
	}
}