.Home {
    text-align: center;

    &-Logo {
        animation: App-logo-spin infinite 20s linear;
        height: 80px;
    }

    &-Header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
    }

    &-Title {
        font-size: 1.5em;
    }

    &-Intro {
        font-size: large;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
