.Home {
	background-color: #222;

	&::before {
		position: absolute;
		content: '';
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		cursor: move;

		border: 1px solid #222;
		border-radius: 10px;
		left: 0;
		top: 0;
		z-index: -1;
	}

	&-Header {
		display: flex;
		align-items: center;
		padding: 10px 20px;
		color: white;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		justify-content: space-between;
		max-width: 700px;
		min-width: 700px;
		width: 700px;
	}

	&-ImageContainer {
		overflow: hidden;
		cursor: move;
	}

	&-Image {
		background-size: contain;
		background-repeat: no-repeat;

		&_flashing {
			animation: flashingAnimation 0.8s infinite;
		}

		&_grayscale {
			filter: grayscale(100%);
		}
	}

	&-ErrorText {
		color: red;
	}

	&-CloseButton {
		line-height: 16px;
	}

	&-ScaleSection {

		&-Title {
			text-align: center;
			margin-bottom: 5px;
			display: block;
		}

		&-Button {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@keyframes flashingAnimation {
	0% {
		opacity: attr(data-opacity);
	}
	100% {
		opacity: 0;
	}
}