@import '../../scss/variables.scss';

.ThemeButton {
	transition: background-color 0.3s ease;
	background-color: $secondaryColor;

	&:disabled {
		color: rgba($backgroundColor, 0.5);
		cursor: default;
	}

	&:hover:not(:disabled) {
		background-color: $white;
	}

	&_close, &_minimize, &_changePosition {
		color: $backgroundColor;
		font-size: 9px;
	}

	&_active, &_active:hover {
		background-color: $primaryColor!important;
	}

	&_close:hover {
		background-color: $red!important;
	}

	&_minimize:hover {
		background-color: $orange!important;
	}
}