@import '../../scss/variables.scss';

.ThemeButton {
	transition: background-color 0.3s ease;
	background-color: $secondaryColor;

	&_active {
		background-color: $primaryColor;
	}

	&_close, &_minimize {
		color: $backgroundColor;
		font-size: 9px;
	}

	&_close:hover {
		background-color: $red;
	}

	&_minimize:hover {
		background-color: $orange;
	}
}