.Button {
	padding: 2px 6px;
	font-size: 10px;
	cursor: pointer;
	border: none;
	border-radius: 3px;

	&_active {
		background-color: #0075ff;
	}

	&_control {
		width: 20px;
		height: 20px;
		border: none;
		border-radius: 4px;
		padding: 0;
		cursor: pointer;
	}
}