@import '../../scss/variables.scss';

.ThemeRange {

	&-Container {

	}

	&-Title {

	}

	&-Input {

		// кнопка для перетаскивания
		&::-webkit-slider-thumb {
			background: $primaryColor;
		}

		// трек прогресса
		&::-webkit-slider-runnable-track {
			background: $secondaryColor;
		}
	}
}